<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/shopping-list">Shopping List</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/servers">Servers</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/employees">Employees</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/game">Game</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/observables">Observables</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/game2">Game 2</a>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/myPractices">My Practices</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/accounts">Accounts</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/products">Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/forms">Forms</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/brands">Brands</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  routerLink="/online-services">Online Services</a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('Recipes')">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('Shopping')">Shopping List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('Servers')">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('Employees')">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('Game')">Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('Game2')">Game 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('myPractices')">My Practices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('accounts')">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('products')">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('brands')">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="onNavigate('ols')">Online Services</a>
        </li>
      </ul> -->
      <button class="btn btn-primary" *ngIf="!isLoggedIn" (click)="login()" >
        Login
      </button>
      <button class="btn btn-success" *ngIf="isLoggedIn"  (click)="logout()" >
        Logout
      </button>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>