<div class="row">
    <div class="col-md-6">
        <h3 *appUnless="testngif">hey am in Practice component</h3>
        <hr>
        <button class="btn btn-primary" (click)="onDynamicNav()" > this will error consol</button>
        <h1 style="color:gray" appBasicPlus [defaultColor]="'yellow'" [activeColor]="'brown'">testing the directive</h1>
        <hr>
        <button appBasic class="btn btn-primary" [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
        
        <p>{{ createServerStatus }}</p>
        <hr>
        <app-server></app-server>
        <hr>
        with ng model
        <input type="text" [(ngModel)]="serverName" /> <br>
        with input (oneway data binding)
        <input type="text" (input)="onupdate($event)" /><br>
        Output : {{ serverName }} <br>
        <button class="btn btn-primary" [disabled]="serverName === ''" (click)="serverName = ''">Reset</button>
        </div>
    <div class="col-md-6">
        <h3>ngif else example with LocalRef</h3>
        <input type="text" [(ngModel)]="testngif">
        <p *ngIf="testngif; else noName"> {{ testngif }}</p>
        <ng-template #noName>
            <p>No neme given so far..!</p>
        </ng-template>
        <button class="btn btn-primary" [disabled]="testngif === ''" (click)="testngif = ''">Reset</button>
        <hr>
        <h3>log the clicks</h3>
        <button class="btn btn-primary" (click)="toggleclicks()">toggle</button>
        <div *ngIf="showContent">Showing content..!</div>
        <ng-template [ngIf]="showContent">
            which does the same as *ngIF (Showing content..!)
        </ng-template>
        <div *ngFor="let log of logs" [ngStyle]="{color:log <= 5 ? 'green': 'red'}">{{ log }}</div>
    <hr>
        <h3>Created custom Structural Directive (*appIfNotTrue)</h3>
        <h4 *appIfNotTrue="testingDirective" style="color: green">this text will show only if the textbox below is empty</h4>
        <input type="text" [(ngModel)]="testingDirective" />
    </div>
</div>
