<app-header (navigated)="pleaseNavigateto($event)"></app-header>
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <app-game *ngIf="loadedRoute === 'Game'"></app-game>
            <app-gamepractice *ngIf="loadedRoute === 'Game2'"></app-gamepractice>
            <app-servers-and-blueprints *ngIf="loadedRoute === 'Servers'"></app-servers-and-blueprints>
            <app-employee-list *ngIf="loadedRoute === 'Employees'"></app-employee-list>
            <app-recipes *ngIf="loadedRoute === 'Recipes'"></app-recipes>
            <app-shopping-list *ngIf="loadedRoute === 'Shopping'"></app-shopping-list>
            <app-servers *ngIf="loadedRoute === 'myPractices'"></app-servers>
            <app-accounts *ngIf="loadedRoute === 'accounts'"></app-accounts>
            <app-products *ngIf="loadedRoute === 'products'"></app-products>
            <app-brands *ngIf="loadedRoute === 'brands'"></app-brands>
        </div>
    </div>
</div>

