<h3>Add employee</h3>

<div class="row">
    <div class="col-md-6">
        <label for="name">Name</label>
        <!-- <input type="text" id="name" class="form-control" [(ngModel)]="name" /> -->
        <input type="text" id="name" class="form-control" #nameInput />
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" [(ngModel)]="email" />
    </div>
    <div class="col-md-6">
        <label for="eid">Employee ID</label>
        <input type="text" id="eid" class="form-control" [(ngModel)]="eid" />
        <label for="ePhone">Employee Phone</label>
        <input type="text" id="ePhone" class="form-control" [(ngModel)]="ePhone" />
    </div>
    <div class="col-md-12">
        <!-- <button
        class="btn btn-primary"
        (click)="onAddEmployee(nameInput)"
        [disabled]=" email === '' || eid === empty || ePhone === empty">Add Employee</button> -->
        <button
        class="btn btn-primary"
        (click)="onAddEmployee(nameInput)">Add Employee</button>
    </div>
</div>