<h5 style="color:red">here we are hilighting the invalid inputs</h5>

<form action="" #basicForm="ngForm" (ngSubmit)="onSubmit(basicForm)" >
    <div class="row">
        <div class="col-md-12">
                <h6 style="color:green">here we are grouping name and email and by grouping like this, we get userinf obj with name and email properties

                </h6>
            <div class="row" ngModelGroup="userinfo">
            <div class="col-md-6">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ngModel required >
    </div>
    
    <div class="col-md-6">
        <label>email</label>
        <input type="text" name="email" class="form-control" ngModel required #email="ngModel" >
        <span style="color: red" 
        *ngIf="!email.valid && email.touched || basicForm.submitted && !email.valid">Please enter a valid email</span>
    </div>
    </div>
        </div>
        
    <div class="col-md-6">
        <label>one way binding</label>
        <input type="text" name="oneway" class="form-control" [ngModel]="oneway" required >
        {{oneway}}
    </div>
    <div class="col-md-6">
        <label>Two way binding</label>
        <input type="text" name="twoway" class="form-control" [(ngModel)]="twoway" required />
        {{twoway}}
    </div>
    <div class="col-md-6">
        <div class="radio" *ngFor="let gender of genders">
            <label for="">
                <input type="radio" ngModel name="gender" [value]="gender"> {{gender}}
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
<hr>

<h3 style="color: chocolate" *ngIf="!basicForm.submitted">
    Please fill the form above and  submit to see your data</h3>
    <h3 *ngIf="basicForm.submitted"> your data</h3>
<div *ngIf="basicForm.submitted">
        <p>user name: {{ userdataentered.uname }} </p>
        <p>user email: {{ userdataentered.email }} </p>
        <p>Gender : {{ userdataentered.gender }} </p>
        <p>one way Data: {{ userdataentered.oneway }} </p>
        <p>two way Data: {{ userdataentered.twoway }} </p>
</div>
